html,
body {
    height: 100%;
}
body.login{
    background:#2E363F
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}
.member-form .form-group{width:48%;margin-right:1%;display:inline-block;vertical-align: top;}
table th{font-size:12px}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.site-login{
    width:35%;
    margin:0 auto;
}
.site-login h1{
    font-size:32px;
    line-height: 40px;
    color:#fff;
    border-bottom:1px solid #3f4954;
    text-align:center;
    padding-bottom:2%;
    margin-bottom:5%
}
.site-login label{
    padding: 0;
    color: #fff;
    width:22%;
    display: inline-block;
    text-align: left;
}
.site-login input{
    height: 35px;
    border: 0px;
    display: inline-block;
    width: 75%;
    line-height: 28px;
    margin-bottom: 3px;
}
.site-login .help-block{padding-left:22%}
.form-control{
    border-radius:0;
    height:40px;
}
.has-error .control-label,
.has-success .control-label{
    /*color:#fff*/
}
.help-block{
    padding-left:0
}
.field-loginform-captcha img{
    float:right;
    margin-right:2%;
    margin-top:-2%;
}
.field-loginform-captcha input{
    width:51%
}
.site-login button{
    width:100%
}
.header{
    background-color: #2E363F;
}
h1{font-size:28px;}
h2.site-name{
    display: inline;
    color: #fff;
    float: left;
    margin: 0;
    font-size: 22px;
    line-height:50px;
    font-weight:normal;
}
.sm-form {
  width: 50%;
}
.navbar-default {
    border:none;
    border-radius: 0;
    margin-bottom:0;
    background:transparent
}
.navbar-default .navbar-nav > li > a{
    color:#999
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color:#fff
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a{
    background:#27a9e3;
    color:#fff
}
table span.glyphicon{
    margin:0 5px
}
.filters input,
.filters select{height:30px}
.filters .help-block{
    padding:0;
    margin:0;
    font-size:12px 
}
.field-system-lowest_cash_amount label{
    width:100%
}
#system-lowest_cash_amount{
    width:60%;
    display:inline-block;
    margin-right:0.5%
}
.panel-primary > .panel-heading{float:left;padding: 10px 0;color: #333;background:transparent;border-color:transparent;}
.panel-primary{border-color:transparent;}
.summary{text-align:right;margin: 0 0 5px}
div.required > label:after {
  content: " *";
  color: red;
}
#inrecord-account_type label{
    margin-right:15px
}
.pagination{margin:0 10px 0 0;float:left; }
input#pageNo{width:34px;height:34px;border:1px solid #ddd;padding:5px;margin-right:5px}
button.goToButon{background-color: #337ab7;border: 1px solid #337ab7;color: #fff;height: 34px;}

ul.tabswitch{padding:0;list-style:none;margin-bottom:25px}
ul.tabswitch li{border-bottom:3px solid transparent;display:inline-block;padding:1% 2% .5%;}
ul.tabswitch li.active{border-bottom:3px solid #27A9E3}
